.container{
    margin: 50px 0px ;
}
.card{
    margin: 0 2% !important ;
}
.infected{
    border-bottom: 10px solid rgba(0, 0, 255, 0.986);
}
.recovered{
    border-bottom: 10px solid rgba(9, 201, 9, 0.925);
}
.deaths{
    border-bottom: 10px solid rgba(255, 4, 4, 0.945);
}
@media(max-width:770px){
    .card{
        margin: 2% 0 !important ;
    }
}