.container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-top: 20px;
        width: 76%;
        margin-bottom: 20px;
        margin-left: 165px;
  
    
    
}
.card{
    margin: 0 .5% !important ;
}
.media{
    height: 100px;
}
@media(max-width:770px){
    
        .container{
            width: 95%;
            margin-left: 5px;
        }
    
    .media{
        height: 100px;
    }
   
}