body{
    background-color: rgb(250, 250,250);
}
.container{
    
    align-items: center;
    justify-content: center;
    flex-direction: center;
    margin-bottom: 20px;
    margin-top: 5px;
}
.content{
   
    
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
}
.image{
    
    margin-right: 20px;
    margin-left: 20px;
    width: 600px;
    height: 400px;
}
@media(max-width:770px){
    .container{
        margin: 0 10%;
    }
    .image{
        width: 100%;
        margin-top: 10px;
    }
    
}